<div [formGroup]="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name" name="name" placeholder="Please enter your Name">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" formControlName="age"  name="age" placeholder="Age">
  </div>
  <div class="form-group">
    <label for="name">Date of Birth</label>
    <input type="text" ngbDatepicker formControlName="dateOfBirth" #d="ngbDatepicker"/>
  </div>
  <div class="form-group">
    <label for="name">Occupation</label>
    <select formControlName="occupation" name="option" class="form-control" id="selectAction">
      <option *ngFor="let occupation of occupations | keyvalue" [value]="occupation.key">
        {{ occupation.key }}
    </option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Death - Sum Insured</label>
    <input type="number" class="form-control" formControlName="deathSumInsured"  name="name" placeholder="Enter sum insured against death">
  </div>

  <button type="submit"  class="btn btn-primary" (click)= "calculate()">Calculate</button>
</div>
<div *ngIf="monthlyPremium">Your monthly premium is {{monthlyPremium | currency}}</div>
