@import '../../styles.scss';

form{
  .form-group{
    display: flex;
    align-items: center;

    label{
      width: 24rem;
      padding-right: 16px;
      margin: 0;

      &.required::after{
        content: '*';
        margin-left: 2px;
        color: $error;
      }
    }
  }

  &.submitted {
    .form-control.ng-invalid{
      background-color: $error;
    }

    .invalid-message {
      display: initial;
      color: $error;
    }
  }
  &:not(.submitted) .invalid-message {
    display: none;
  }
}
